@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Red Hat Text", sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(20, 50%, 98%);
    padding: 3rem 0;

}
body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.container {
    display: flex;
    width: 95%;
    max-width: 68.993125rem;
    height: 100%;
    padding: 1.5rem 0;
    justify-content: space-between;
    gap: 1.5rem;
}
.product {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.product-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
}
.product-list span {
    font-size: .8rem;
    color: hsl(7, 20%, 60%);
}
.product-list p {
    font-size: .9rem;
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}
.image img {
    width: 100%; 
    border-radius: 10px;   
    overflow: hidden;
}
.image{
    position: relative;
    display: flex;
    margin-bottom: 2rem;
}
.image .btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65%;
    margin: auto;
    transform: translateY(50%);
    font-family: inherit;
    font-weight: 500;
    color: hsl(14, 65%, 9%);
    padding: .5rem 1rem;
    border:1.5px solid  hsl(7, 20%, 60%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    background-color: white;
    cursor: pointer;
}
.btn .productCount {
    position: absolute;
    background-color: hsl(14, 86%, 42%);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 1.15rem 0.7rem;
}
.image .btn .productCount img {
    width: 100%;
}
.incrementBtn,
.decrementBtn {
    color: white;    
    text-align: center;
    padding: .1rem .3rem;
    border: 1px solid white;
    border-radius: 50%;
    font-size: .8rem;
}

.incrementBtn:hover,
.decrementBtn:hover {
    background-color: white;
    color: hsl(14, 86%, 42%);
}

.incrementBtn:active,
.decrementBtn:active {
    background-color: hsl(15, 22%, 82%);    
    
}

.productCount span {
    font-size: 1rem;
    color: white;
    font-weight: 400;
}
.image .btn:hover {
    border: 1.5px solid hsl(14, 86%, 42%);
    color: hsl(14, 86%, 42%);
}
.image .btn img {
    width: 1rem;
}

.cart {
    width: 37%;
    height: fit-content;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: sticky;
    top: 2rem;
}
h1 {
    line-height: 1;
}
h2 {
    color: hsl(14, 86%, 42%);
}
h3 {
    font-size: .9rem;
    color: hsl(14, 65%, 9%);
    font-weight: 600;
    margin-bottom: .1rem;
}
.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    color: hsl(12, 20%, 44%);
    font-weight: 500;
    
}
.emptyCart img {
    width: 8rem;
}
.cart-item .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid hsla(12, 26%, 81%, 0.266);

}
.name {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.list p,
.order-item .name {
    color: hsl(14, 65%, 9%);
    display: block;
    font-weight: 600;
}
.cart-item .list .details {
    display: flex;
    gap: 1rem;
}
.cart-item .details .quantity,
.order-item .quantity {
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}
.cart-item .details .price,
.order-item .price {
    color: hsl(7, 20%, 60%);
}
.cart-item .details .total {
    color: hsl(16, 58%, 43%);
    font-weight: 600;
}
.removePdct {
    border: 2px solid hsl(12, 25%, 81%);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color:  hsl(12, 25%, 81%);
}
.removePdct:hover {
    border: 2px solid hsl(12, 25%, 61%);
    color:  hsl(12, 25%, 61%);
}
.orderSummary {
    display: none;
    flex-direction: column;
    gap: 1rem;
}
.amountSummary {
    display: flex;
    justify-content: space-between;
}
#orderTotalAmount {
    color: hsl(14, 65%, 9%);
    font-size: 1.5rem;
    font-weight: 700;
}
.carbon-delivery{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    background-color: hsl(20, 50%, 98%);
    border-radius: 10px;
    color: hsl(14, 65%, 9%);
}
.carbon-delivery span {
    font-weight: 600;
}
.orderSummary button,
.modalContainer button {
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    color: white;
    background-color: hsl(14, 86%, 42%);
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}
.orderSummary button:hover,
.modalContainer button:hover {
    background-color: hsl(14, 86%,32%);
}
.product-card .image.selected {
    border:2px solid hsl(14, 86%, 42%);
    border-radius: 10px;
}
.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: hsl(14, 65%, 9%, .4);
    z-index: calc(1000);
    overflow-y: auto;
}
.modalContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 38rem;
    width: 100%;
    max-height: 90vh;
    border-radius: 10px;
    padding: 2.5rem;
    overflow-y: auto;
    animation: myAnim .3s ease 0s 1 normal forwards;
}


@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translatex(-250px);
	}

	100% {
		opacity: 1;
		transform: translatex(0);
	}
}



.modalContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.modalContainer h2 {
    color: hsl(14, 65%, 9%);
    font-size: 2rem;
    margin-bottom: 5px;
}
.orderHeader {
    margin-bottom: 2rem;
}
.orderHeader p {
    color: hsl(12, 20%, 44%);
}
.orderHeader img {
    margin-bottom: 15px;
}
#startNewOrder {
    position: sticky;
    bottom: 0rem;
    margin: 0;
}
.confirmedOrderTotal {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
    align-items: center;
    border-radius: 0 0 10px 10px;
    margin-bottom: 2rem;
}
.confirmedOrderTotal p {
    color: hsl(14, 65%, 9%);
    font-weight: 400;
}
.confirmedOrderTotal span {
    color: hsl(14, 65%, 9%);
    font-size: 2rem;
    font-weight: 700;
}
.order-item {
    display: flex;
    padding: 1.1rem 0;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid hsla(12, 26%, 81%, 0.3);
}
.order-item .thumbnail img{
    width: 100%;
}
.order-item .thumbnail {
    width: 3.2rem;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orderDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    line-height: 1;
}
.orderDetails div {
    display: flex;
    gap: 1rem;
}
.itemTotal {
    justify-self: flex-start;
    font-size: 1.1rem;
    margin-left: auto;
    font-weight: 600;
}
.confirmedOrderItems {
    border-radius: 10px 10px 0 0;
}
.confirmedOrderItems,
.confirmedOrderTotal {
    background-color: hsl(20, 50%, 97%);
    padding-inline: 1.2rem;
}
.no-scroll {
    overflow: hidden;
}



@media (max-width:1150px){
    .cart h2,
    .emptyCart {
        text-align: center;
    }
    .container {
        max-width: 55rem;
    }
}

@media (max-width:769px){
    .container {
        flex-direction: column;
        width: 93%;
        max-width: 40rem;
    }
    .product {
        width: 100%;
    }
    .cart {
        width: 100%;
    }
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
    }
    .modalContainer{
        max-width: 100%;
        align-self: flex-end;
        padding: 2rem;
        border-radius: 10px 10px 0 0;
    }
    
}
